<div class="nav flex-column">
    <!-- <ul id="menu-menu" class="menu  flex-j-between">
        <% for (var i in theme.menu){ %>
        <li class="<%- theme.menu[i].indexOf('http') > -1 ? " " : " pview" %> menu-item menu-item-type-post_type
            menu-item-object-page">
            <%- link_to(theme.menu[i].lastIndexOf('/') > 0 ? theme.menu[i] : theme.menu[i] + '/', i, {external: true})%>
        </li>
        <%}%>
    </ul> -->
    <div class="content">
        <div class="show-content">
            <h4>关于我</h4>
            <p>你终于来了，我是 Vshow，专注 WEB前端 开发，偶尔写写 node / 后端，关注新技术，喜欢陪女朋友吃、喝、玩、乐，梦想有一个智能的家，处处惟妙惟肖。</p>
            <p>本人有几个属性：</p>
            <ul>
                <li>超强的自学能力，0基础自学WEB前端，后端，数据库等各类技术。</li>
                <li>良好的前端编程能力和习惯，致力于代码的整体结构规范及优。</li>
                <li>熟悉CMMI的科学管理理念，掌握软件开发标准化流程。</li>
                <li>特别特别宠爱女朋友，O(∩_∩)O哈哈~</li>
            </ul>
            <h4>技能</h4>
            <ul>
                <li>Vue+Vue-cli+Vue-Router+VueX+Axios+Webpack+ES6+Less+Vux+Mint-UI+Element-UI。</li>
                <li>MUI+ES5+H5+CSS3+Zepto.js+Ajax+HBuilder。</li>
                <li>TypeScript，AMD、CMD规范，BEM命名规范，MVC、MVP、MVVM架构。</li>
                <li>微信公众号开发，微信小程序开发。</li>
                <li>uni-app，一套代码多端开发，可同时适配Android、IOS、微信小程序。</li>
            </ul>
            <h4>开源项目</h4>
            <ul>
                <li>
                    <a href="https://github.com/389042136/Vshow/tree/master/AUHZHHX" target="_blank" rel="noopener">智慧航显</a>：
                    一款通过人脸识别技术自动识别，具有精准的室内导航路线、路径距离和行走时间。
                </li>
                <li>
                    <a href="https://github.com/389042136/Vshow/tree/master/TerminalWX" target="_blank" rel="noopener">微信公众号</a>：
                    一款基于Vue + Vue-Router + VueX + Axios + Webpack + ES6 + Less + Vux + Mint-UI开发的微信公众号框架。
                </li>
                <li>
                    <a href="https://github.com/389042136/Vshow/tree/master/ManagementUI" target="_blank" rel="noopener">管理平台系统</a>：
                    一款基于Vue + Vue-Router + VueX + Axios + Webpack + ES6 + Less + Element-UI开发的管理平台系统。
                </li>
            </ul>
            <h4>关于小站</h4>
            <p>少即是多 ( Less is more )，喜欢干净简洁，有用的，为了有良好的阅读体验和心情。</p>
            <p>想要了解更多项目，博客中见。。。</p>
        </div>
    </div>
    <!-- <p id="copyright">
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>.
        Powered by <%- link_to("http://hexo.io/", "Hexo", {external: true})%>
        Theme <%- link_to("https://github.com/Fechin/hexo-theme-diaspora", "Diaspora", {external: true})%>
        by Fechin
    </p> -->
</div>